# Ignore SQLite database
db.sqlite3

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore Django migrations
*/migrations/

# Ignore static files
staticfiles/

# Ignore environment files
.env

# Allow example environment file
!.env.example

# Ignore virtual environment directory
/env/

